@font-face {
  font-family: "icon";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=html]:before {
  content: "\e7bb";
  font-family: "icon";
}
*[data-role=html][data-pos=top]:before {
  font-family: "icon";
  content: "\e7bb";
  display: block;
}
*[data-role=html]:before {
  content: "";
}
*[data-role=html][data-pos=right]:after {
  content: "\e7bb";
  font-family: "icon";
}
*[data-role=html][data-pos=bottom]:after {
  content: "\e7bb";
  display: block;
  font-family: "icon";
}
*[data-role=css]:before {
  content: "\e622";
  font-family: "icon";
}
*[data-role=css][data-pos=top]:before {
  font-family: "icon";
  content: "\e622";
  display: block;
}
*[data-role=css]:before {
  content: "";
}
*[data-role=css][data-pos=right]:after {
  content: "\e622";
  font-family: "icon";
}
*[data-role=css][data-pos=bottom]:after {
  content: "\e622";
  display: block;
  font-family: "icon";
}
*[data-role=js]:before {
  content: "\e619";
  font-family: "icon";
}
*[data-role=js][data-pos=top]:before {
  font-family: "icon";
  content: "\e619";
  display: block;
}
*[data-role=js]:before {
  content: "";
}
*[data-role=js][data-pos=right]:after {
  content: "\e619";
  font-family: "icon";
}
*[data-role=js][data-pos=bottom]:after {
  content: "\e619";
  display: block;
  font-family: "icon";
}
*[data-role=jQuery]:before {
  content: "\e603";
  font-family: "icon";
}
*[data-role=jQuery][data-pos=top]:before {
  font-family: "icon";
  content: "\e603";
  display: block;
}
*[data-role=jQuery]:before {
  content: "";
}
*[data-role=jQuery][data-pos=right]:after {
  content: "\e603";
  font-family: "icon";
}
*[data-role=jQuery][data-pos=bottom]:after {
  content: "\e603";
  display: block;
  font-family: "icon";
}
*[data-role=ps]:before {
  content: "\e690";
  font-family: "icon";
}
*[data-role=ps][data-pos=top]:before {
  font-family: "icon";
  content: "\e690";
  display: block;
}
*[data-role=ps]:before {
  content: "";
}
*[data-role=ps][data-pos=right]:after {
  content: "\e690";
  font-family: "icon";
}
*[data-role=ps][data-pos=bottom]:after {
  content: "\e690";
  display: block;
  font-family: "icon";
}
*[data-role=ai]:before {
  content: "\e610";
  font-family: "icon";
}
*[data-role=ai][data-pos=top]:before {
  font-family: "icon";
  content: "\e610";
  display: block;
}
*[data-role=ai]:before {
  content: "";
}
*[data-role=ai][data-pos=right]:after {
  content: "\e610";
  font-family: "icon";
}
*[data-role=ai][data-pos=bottom]:after {
  content: "\e610";
  display: block;
  font-family: "icon";
}
